<!DOCTYPE html>
<html lang="fr">
<head>
    <title>CryptoAnalytics</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- open-iconic-bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <!-- Optional JavaScript -->
    <style type="text/css">
    .statTopCard {
        height: 140px;
        margin-top: 15px;
    }
    .dropdown-menu-right{
        right:0;
        left:auto;
    }
    
</style>
</head>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/indicators/indicators.js"></script>
<script src="https://code.highcharts.com/stock/indicators/volume-by-price.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
<script src="https://code.angularjs.org/1.2.32/angular-route.min.js"></script>
<script src="https://code.angularjs.org/1.2.32/angular-resource.min.js"></script>
<script src="app/inc/js/controller.js"></script>
<script src="app/inc/js/factory.js"></script>
<script src="app/inc/js/service.js"></script>

<body style="background-color: #F6F6F6" ng-app="cryptoAnalytics">

    <nav id="navBarTop" class="navbar navbar-expand-lg navbar-dark bg-primary ">
        <a class="navbar-brand" href="#/">CryptoAnalytics</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#/">Accueil <span class="sr-only">(Actuelle)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#/currencies">CryptoMonnaies</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mon Compte
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" ng-controller="connectionInscriptionCtrl">
                        <a ng-hide="currentUser" class="dropdown-item" href="#/connexion">Se connecter</a>
                        <a ng-hide="currentUser" class="dropdown-item" href="#/inscription">S'inscrire</a>
                        <a ng-show="currentUser" class="dropdown-item" href="#/account">Mes Préférences</a>

                    </div>
                </li>
              <!--  <li class="nav-item">
                    <a class="nav-link disabled" href="">Premium</a>
                </li>-->
            </ul>
            <form class="form-inline" ng-controller="searchCtrl">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Crypto Monnaies" ng-model="searchInput">
                    <div class="dropdown-menu dropdown-menu-right" ng-class="searchInput.length ? 'show' : ''">
                        <a class="dropdown-item" href="#/currencies/{{currency.id_monnaie_crypto}}" ng-repeat="currency in filteredData = (Data | filter:searchInput | limitTo:5)">{{currency.id_monnaie_crypto}}, {{currency.nom_monnaie_crypto}}</a>
                        <a class="dropdown-item" ng-hide="filteredData.length">Aucune Crypto-monnaie trouvée.</a>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <div class="container">
        <div ng-view></div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $(document).scroll(function () {
            if ($(document).scrollTop() < 100) {
                $("#navBarTop").removeClass("fixed-top");
            } else {
                $("#navBarTop").addClass("fixed-top");
            }
        });

    });
</script>
</html>
