<!DOCTYPE html>
<html lang="fr">
<head>
    <title>CryptoAnalytics</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- open-iconic-bootstrap CSS -->
    <!-- local <link href="app/asset/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">-->
    <!-- CDN --><link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <style type="text/css">
        .statTopCard {
            height: 140px;
        }

    </style>
</head>
<body style="height:1500px; background-color: #F6F6F6" ng-app="cryptoAnalytics">

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

    <nav id="navBarTop" class="navbar navbar-expand-lg navbar-dark bg-primary ">
        <a class="navbar-brand" href="#">CryptoAnalytics</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Accueil <span class="sr-only">(Actuelle)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CryptoMonnaies</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mon Compte
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Se connecter</a>
                        <a class="dropdown-item" href="#">Se déconnecter</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Mes Préférences</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Premium</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" ng-controller="searchCtrl">
                <input class="form-control mr-sm-2" type="search" placeholder="Crypto Monnaies" aria-label="Search" ng-model="searchQuery">
                <ul>
                    <li ng-repeat="test in searchResults | filter: {test.FullName: searchQuery} | limitTo: 3">{{test.FullName}}</li>
                </ul>
            </form>
        </div>
    </nav>
    <nav class="sideBar col-md-2" aria-label="sideBar">
        //to do "SIDEBAR"
    </nav>
    <nav aria-label="container-fluid">
            <!--
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Library</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
            </nav>
        -->
        <nav>
            <div class="container">
                <div id="statBar" class="row" ng-controller="statBarCtrl">
                    <div class="col-md" ng-repeat="currency in currencies">
                        <div class="card border-{{currency.classInfo}} mb-3 statTopCard">
                            <div class="card-body text-center text-{{currency.classInfo}} ">
                                <h5 class="card-title">{{currency.title}}</h5>
                                <p class="card-text">{{currency.sign + currency.price}}</p>
                                <p class="card-text"><span class="oi oi-chevron-{{currency.chevron}}"></span> {{currency.percent}}%</p>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </nav>
        <nav>
            <div class="container">
                <div class="row">
                    <div class="col-md mb-10">
                        <div class="card">
                            <div class="card-body">
                                <div id="container" style="height: 400px; min-width: 310px" ng-controller="statPannelChartCtrl"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </nav>

    <script>
        $(document).ready(function () {
            $(document).scroll(function () {
                if ($(document).scrollTop() < 100) {
                    $("#navBarTop").removeClass("fixed-top");
                } else {
                    $("#navBarTop").addClass("fixed-top");
                }
            });

        });
    </script>
    <script src="app/inc/js/testgraph.js"></script>

    <script>
        $(document).ready(function () {
            $(".highcharts-credits").html("");
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
    <script src="app/inc/js/controller.js"></script>
</body>
</html>
