<h1 style="color: #1358AE">BitCoin</h1>
<div class="card col-12">
	<div class="card-deck">
		<div class="col-lg-4 col-md-12 col-sm-12">
			<img class="card-img-top" src="app/inc/img/bitcoin.png">
		</div>
		<div class="col-lg-8 col-md-12 col-sm-12">
			<ul class="list-group list-group-flush">
				<li class="list-group-item"><b>Devise :</b> Bitcoin</li>
				<li class="list-group-item"><b>Derrnière mise à jour :</b> 01/01/1990</li>
				<li class="list-group-item"><b>Valeur :</b> XX </li>
			</ul>
		</div>
		<div class="col-12">
			<ul class="list-group list-group-flush">
				<li class="list-group-item"><b>Description :</b> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p></li>
				<li class="list-group-item"><b>Volume :</b> XX</li>
				<li class="list-group-item"><b>Evolution depuis hier :</b> + XX%</li>
			</ul>
		</div>
	</div>
</div>