<br>
	<div class="card border-dark">
		<div class="card-header text-dark">
			<h1>BitCoin</h1>
		</div>
		<div class="card-deck">
			<div class="col-lg-4 col-md-4 col-sm-12 col-12">
				<div class="container">
					<img class="card-img-top" src="app/inc/img/bitcoin.png">
			<!--	<button type="button" class="btn btn-block btn-success col-12">Ajouter à mes préférences</button>
				<button type="button" class="btn btn-block btn-info col-12">Voir le graphique</button>-->
			</div>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-12 col-12">
			<div class="container">
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><h1 class="text-success">6,591 € <span class="oi oi-chevron-top"></span></h1></li>
					<li class="list-group-item">

						<div class="row">
							<div class="col">
								<span class="form-text text-muted">Mkt. Cap. </span>
								<h2>14578</h2>
							</div>
							<div class="col">
								<span class="form-text text-muted">Vol. 24H</span>
								<h2>4785</h2>
							</div>
							<div class="col"></div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col">
								<span class="form-text text-muted">Open 24H</span>
								<h2>47875</h2>
							</div>
							<div class="col">
								<span class="form-text text-muted">Low/Hight 24H</span>
								<h2>48965</h2>
							</div>
							<div class="col">
								<span class="form-text text-muted">Last Trade</span>
								<h2>4785</h2>
							</div>
						</div>
					</li>
				</ul> 
			</div>
		</div>
		<hr>
		<div class="col-lg-12">
			<div class="container">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">First</th>
							<th scope="col">Last</th>
							<th scope="col">Handle</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>@fat</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>