<div class="container">
	<div id="statBar" class="row" ng-controller="statBarCtrl">
		<div class="col-md" ng-repeat="(indexCurrency, objectCurrency) in currencies">
			<div class="card mb-3 statTopCard"  ng-class="objectCurrency[prefTradiVal].CHANGEPCT24HOUR.includes('-') ? 'border-danger' : 'border-success'">
				<div class="card-body text-center text-" ng-class="objectCurrency[prefTradiVal].CHANGEPCT24HOUR.includes('-') ? ' text-danger' : ' text-success'">
					<h5 class="card-title">{{name[indexCurrency]}}</h5>
					<p class="card-text">{{objectCurrency[prefTradiVal].PRICE}}</p>
					<p class="card-text"><span class="oi" ng-class="objectCurrency[prefTradiVal].CHANGEPCT24HOUR.includes('-') ? 'oi-chevron-bottom' : 'oi-chevron-top'"></span> {{objectCurrency[prefTradiVal].CHANGEPCT24HOUR}}%</p>
				</div>
			</div> 
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md mb-10">
			<div class="card">
				<div class="card-body">
					<div id="container" style="height: 400px; min-width: 310px" ng-controller="statPannelChartCtrl"></div>
				</div>
			</div>
		</div>
	</div>
</div>
