<h2>MENTIONS LÉGALES</h2>
<p>
	Conformément aux dispositions de la loi n°2004-575 du 21 juin 2004 pour la confiance en l’économie numérique, il est précisé aux utilisateurs du Site CryptoAnalytics l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
</p>
<h2>
	ÉDITION DU SITE
</h2>
<p>
	Le Site CryptoAnalytics est édité par la société DATA Analytics SAS, en cours de constitution.
</p>
RESPONSABLE DE PUBLICATION

Monsieur GUERIN Bertrand.


<h2>NOUS CONTACTER</h2>
<ul>
	<li>Par email : bertrand.guerin@mail.com</li>

	<li>Par courrier : 8 rue François Delage, Cachan 94230 </li>
</ul>
<h2>DONNÉES PERSONNELLES</h2>
<p>
Les informations recueillis sur ce formulaire sont enregistrées dans un ficher informatisé par SAS DATA Analytics uniquement pour la gestion des utilisateurs

Conformément à la loi « Informatique et Libertés », vous pouvez exercer votre droit d’accès aux données vous concernant et les faire rectifier en contactant : GUERIN Bertrand (SAS DATA Analytics), 8 rue François Delage, Cachan 94230 , contact@DataAnalytics.com.</p>
